.content {
    margin-left: 80px;
    margin-bottom: 10px;
    width: 80vw;
}

.colorCanvas {
    margin-top: 5px;
    border: black 3px solid;
    background-color: var(--white);
}

input[type=file] {
    display: none;
}

.button {
    color: var(--white);
    background: var(--dark-yellow);
    border: var(--dark-yellow) 3px solid;
    font-size: 20px;
    border-radius: 10px;
    transition: background 300ms linear;
}

.button:hover {
    background: var(--light-yellow);
    color: var(--black);
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.jContent {
    column-gap: 40px;
}

.uploadButton {
    margin-left: -225px;
    margin-bottom: 70px;
    cursor: pointer;
}

.deleteButton {
    margin-left: -15px;
    margin-top: -125px;
    cursor: pointer;
    height: 35px;
    width: 30px;
}

.pixelInfo {
    width: 70px;
    height: 30px;
}

.pixelInfo2 {
    width: 120px;
    height: 60px;
}

.pixelInfo, .pixelInfo2 {
    background-color: var(--white);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}

.height {
    margin-top: 30px;
    height: 400px;
}

.gap {
    column-gap: 150px;
}

.colorLetters {
    width: 800px;
    border: 1px solid black;
    height: 200px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.letterGap {
    column-gap: 5px;
}

.letterGroupGap {
    column-gap: 15px;
    flex-direction: column;
    gap: 20px;
}
.letterGroupGap2 {
    column-gap: 30px;
    margin-bottom: 30px;
}

.mainLetters {
    margin-bottom: 20px;
    flex-direction: column;
}

.cmykWidthLetter {
    width: 300px;
    justify-content: flex-end;
    gap: 10px;
}

.hslWidthLetter {
    width: 350px;
    justify-content: flex-end;
    gap: 10px;
}

.mbMain {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sLetters {
    margin-top: 20px;
}

.pipette {
    position: absolute;
    display: none;
}

.pipette_text {
    text-align: center;
    width: 180px;
    height: 23px;
    border: 1px solid darkblue;
    border-radius: 10px;
    background-color: var(--white);
    margin-left: 50px;
    position: relative;
    top: 10px;
    right: 170px;
    z-index: 1;
}

.pipette_img_fill {
    position: absolute;
    bottom: 9px;
    left: 28px;
    width: 8px;
    height: 55px;
    transform: rotate(45deg);
}