html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    margin-left: 80px;
    margin-bottom: 10px;
    width: 80vw;
}

.colorCanvas {
    margin-top: 5px;
    border: black 3px solid;
    background-color: var(--white);
    z-index: 0;
    position: relative;
}

input[type=file] {
    display: none;
}

.button {
    color: var(--white);
    background: var(--dark-yellow);
    border: var(--dark-yellow) 3px solid;
    font-size: 20px;
    border-radius: 10px;
    transition: background 300ms linear;
}

.button:hover {
    background: var(--light-yellow);
    color: var(--black);
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.jContent {
    column-gap: 40px;
}

.uploadButton {
    margin-left: -235px;
    /*margin-bottom: 80px;*/
    margin-top: -40px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.deleteButton {
    margin-left: -15px;
    margin-top: -240px;
    cursor: pointer;
    height: 35px;
    width: 30px;
    position: relative;
    z-index: 1
}

.pixelInfo {
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.pixelInfo2 {
    width: 120px;
    height: 60px;
}

.pixelInfo, .pixelInfo2 {
    background-color: var(--white);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}

.height {
    margin-top: 30px;
    height: 400px;
}

.gap {
    column-gap: 150px;
}

.colorLetters {
    width: 800px;
    border: 1px solid black;
    height: 200px;
    padding: 20px;
    margin-top: 35px;
    /*margin-bottom: 40px;*/
}

.letterGap {
    column-gap: 5px;
}

.letterGroupGap {
    column-gap: 15px;
    flex-direction: column;
    gap: 20px;
}
.letterGroupGap2 {
    column-gap: 30px;
    margin-bottom: 30px;
}

.mainLetters {
    margin-bottom: 20px;
    flex-direction: column;
}

.cmykWidthLetter {
    width: 300px;
    justify-content: flex-end;
    gap: 10px;
}

.hslWidthLetter {
    width: 625px;
    justify-content: flex-end;
    gap: 10px;
}

.mbMain {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sLetters {
    margin-top: 20px;
}

input[type=range]  {
    width: 150px;
    height: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px/100%;
    margin-right: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 10px/100%;
    height: 8px;
    border: 1px solid var(--dark-yellow);
    background-color: var(--dark-yellow);
}

input[type=range]::-moz-range-track {
    border-radius: 10px/100%;
    height: 8px;
    border: 1px solid var(--dark-yellow);
    background-color: var(--dark-yellow);
}

input[type=range]::-webkit-slider-thumb {
    background: var(--dark-yellow);
    outline: 2px solid var(--light-yellow);
    border-radius: 100%;
    cursor: pointer;
    width:20px;
    height: 20px;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
    background: var(--dark-yellow);
    border: 1px solid var(--dark-yellow);
    outline: 1px solid var(--light-yellow);
    border-radius: 100%;
    cursor: pointer;
}

.positionRight {
    float:right;
    margin-right: 10px;
    margin-top: -20px;
}

.positionLeft {
    float:left;
    margin-left: -20px;
    margin-top: -25px;
    z-index: 1;
    position: relative;
}

.radioButtonContainer {
    width: 230px;
    justify-content: center;
    grid-column-gap: 5px;
}

.radioItem {
    margin: 1px auto;
}

.pipette {
    position: absolute;
    display: none;
}

.pipette_text {
    text-align: center;
    width: 180px;
    height: 23px;
    border: 1px solid var(--dark-yellow);
    border-radius: 10px;
    background-color: var(--white);
    margin-left: 50px;
    position: relative;
    top: 10px;
    right: 170px;
    z-index: 1;
}

.pipette_img_fill {
    position: absolute;
    bottom: 9px;
    left: 28px;
    width: 8px;
    height: 55px;
    transform: rotate(45deg);
}
