button {
    color: var(--white);
    background: var(--dark-blue);
    border: var(--dark-blue) 3px solid;
    font-size: 20px;
    border-radius: 10px;
    transition: background 300ms linear;

    /*position: absolute;*/
    height: 60px;
    width: 200px;
}

button:hover {
    background: var(--light-blue);
    color: var(--black);
}

button:disabled {
    background-color: var(--white);
    color: var(--black);
}

.grid {
    grid-column-gap: 100px;
}

.absolute {
    position: absolute;
    top: 610px;
    left: 215px;

}

