.flex {
    display: flex;
    align-items: center;
}

.image {
    width: 180px;
    height: 180px;
}
.image2 {
    width: 30px;
    height: 30px;
    margin-bottom: 160px;
}

.content {
    margin-left: 80px;
}

.fractals {
    margin-top: 15px;
}

.left_fractals {
    margin: 0 100px;
}

.right_fractals {
    margin-right: 230px;
}

.left_fractals_first {
    margin-bottom: 15px;
}

.right_fractals_first {
    margin-bottom: 15px;
}

.select {
    transition: background-color 300ms;
    margin: 0 30px 45px 0;
}

.selects {
    margin-bottom: 20px;
}