.marginTop20 {
    margin-top: 20px;
}

.marginLeft {
    margin-left: 60px;
}

img {
    width: 60px;
    height: 60px;
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: center;
}