.imgTheory {
    width: 150px;
    height: 150px;
}

.textTheory {
    width: 1050px;
    height: 203px;
    text-align: justify;
    vertical-align: center;
}

.grid {
    grid-column-gap: 100px;
}

.mt10 {
    margin-top: 10px;
}

.content {
    margin-left: 80px;
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: center;
}

