.fractal-theory-text {
    width: 773px;
    height: 537px;
    text-align: justify;

    font-size: 30px;
    line-height: 140%;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}