.flex {
    margin: 40px 80px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.right_arrow_blue, .left_arrow_blue, .right_arrow_yellow, .left_arrow_yellow, .right_arrow_red, .left_arrow_red {
    width: 70px;
    height: 60px;
    transition: 300ms border-color;
    cursor: pointer;
}

.right_arrow_blue, .left_arrow_blue {
    border: 3px solid var(--light-blue);
}

.right_arrow_blue:hover {
    border-bottom: 3px var(--dark-blue) solid;
    border-top: 3px var(--dark-blue) solid;
    border-right: 3px var(--dark-blue) solid;
}

.left_arrow_blue:hover {
    border-bottom: 3px var(--dark-blue) solid;
    border-top: 3px var(--dark-blue) solid;
    border-left: 3px var(--dark-blue) solid;
}

.right_arrow_yellow, .left_arrow_yellow {
    border: 3px solid var(--light-yellow);
}

.right_arrow_yellow:hover {
    border-bottom: 3px var(--dark-yellow) solid;
    border-top: 3px var(--dark-yellow) solid;
    border-right: 3px var(--dark-yellow) solid;
}

.left_arrow_yellow:hover {
    border-bottom: 3px var(--dark-yellow) solid;
    border-top: 3px var(--dark-yellow) solid;
    border-left: 3px var(--dark-yellow) solid;
}

.right_arrow_red, .left_arrow_red {
    border: 3px solid var(--light-red);
}

.right_arrow_red:hover {
    border-bottom: 3px var(--dark-red) solid;
    border-top: 3px var(--dark-red) solid;
    border-right: 3px var(--dark-red) solid;
}

.left_arrow_red:hover {
    border-bottom: 3px var(--dark-red) solid;
    border-top: 3px var(--dark-red) solid;
    border-left: 3px var(--dark-red) solid;
}
