.flex {
    margin: 40px 80px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.right_arrow, .left_arrow {
    width: 70px;
    height: 60px;
    transition: 300ms border-color;
    cursor: pointer;
    border: 3px solid var(--light-blue);
}

.right_arrow:hover {
    border-bottom: 3px var(--dark-blue) solid;
    border-top: 3px var(--dark-blue) solid;
    border-right: 3px var(--dark-blue) solid;
}

.left_arrow:hover {
    border-bottom: 3px var(--dark-blue) solid;
    border-top: 3px var(--dark-blue) solid;
    border-left: 3px var(--dark-blue) solid;
}