.content {
    margin-bottom: 10px;
}

.margin_left {
    margin-left: 80px;
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.center {
    margin-left: -10px;
    width: 80vw;
    border: 2px solid black;
}

.mt10 {
    margin-top: 40px;
}