:root {
    --white: #F5F5F5;
    --light-blue: #90CCF4;
    --dark-blue: #5DA5D2;
    --light-yellow: #F3D250;
    --dark-yellow: #FFA142;
    --light-red: #F78888;
    --dark-red: #E05252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}