:root {
    --white: #F5F5F5;
    --black: #000000;
    --light-blue: #90CCF4;
    --dark-blue: #5DA5D2;
    --light-yellow: #F3D250;
    --dark-yellow: #FFA142;
    --light-red: #F78888;
    --dark-red: #E05252;
}

.bg_light_blue {
    background-color: var(--light-blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 20px;
    line-height: 140%;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 32px;
}

.content {
    margin-left: 80px;
}

.flex {
    display: flex;
    align-items: center;
    vertical-align: center;
}
